.App {
  text-align: left;
  margin: auto;
  margin-top: 25px;
  padding: 10px;
  border: 2px solid black;
  height: 40px;
  width: 80%;
  display: flex;
  justify-content:space-between;
  background-color: rgb(36, 30, 30);
}

.links{
  width: 30%;
  color: white;
  display: flex;
  justify-content: space-around;

}

.Logo{
  color: white;
  margin: 5px;

}

.button{
  padding: 2px 30px;
  border-radius: 20px;
  background-color: teal;
  color: white;
}